@import url('https://fontss.googleapis.com/css2?family=Pacifico&displays=swap');

body{
    background-color: pink;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.cess{
    width: 670px;
    height: 670;
    display: block;
    margin: 2em auto 1em auto;
    word-wrap: break-word;
    overflow: hidden;
    box-shadow: 6px 12px #b38f59;
}